.gitattributes
eula.txt
.fabric
.mixin.out
logs
fabric-server-launcher.properties
config
advcancements
datapacks
entities
playerdata
poi
region
scripts
stats
level.dat
level.dat_old
session.lock
Fabric 1.17/world/data
Fabric 1.17/world/DIM1
Fabric 1.17/world/DIM-1
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json
.console_history
cache
world_nether
world_the_end
Paper-Spigot 1.8.8/world
Paper-Spigot 1.16.5/world
commands.yml
hlep.yml
permissions.yml
wepif.yml
version_history.json
usercache.json
.github