LICENSE
README.md
*.old



# All templates
*/eula.txt
*/logs
*/banned-ips.json
*/banned-players.json
*/ops.json
*/usercache.json
*/whitelist.json
*/world*/*
*/start.sh
*/libraries



# Fabric
Fabric 1.1*/server-launch*.jar
Fabric 1.1*/fabric-server-launcher.properties
Fabric 1.1*/.fabric-installer
Fabric 1.1*/gunpowder.db
Fabric 1.1*/crash-reports
Fabric 1.1*/not-enough-crashes
Fabric 1.1*/.fabric
Fabric 1.1*/.mixin.out
Fabric 1.1*/server.jar
Fabric 1.1*/config/*
!Fabric 1.1*/config/clean-logs.toml
!Fabric 1.1*/config/servercore.toml
!Fabric 1.1*/world/carpet.conf

## Fabric 1.18.1
Fabric 1.18.1/versions



# Paper/Purpur
P*/.console_history
P*/cache
P*/commands.yml
P*/help.yml
P*/permissions.yml
P*/wepif.yml
P*/version_history.json

## Paper/Purpur PLUGINS
P*/plugins/bStats
P*/plugins/LuckPerms
P*/plugins/MyCommand
P*/plugins/PluginManager
P*/plugins/PlugMan
P*/plugins/PlugManX
P*/plugins/PluginMetrics
P*/plugins/ProtocolLib
P*/plugins/Updater
P*/plugins/WorldGuard
P*/plugins/Vault
P*/plugins/FastAsyncWorldEdit
P*/plugins/InventoryRollbackPlus
P*/plugins/CoreProtect
P*/plugins/VillagerOptimiser
P*/plugins/Multiverse-Inventories
P*/plugins/LimitPillagers
P*/plugins/EntityTrackerFixer
P*/plugins/TAB-Additions
P*/plugins/FarmControl/profiles.yml
### Essentials
P*/plugins/Essentials/userdata
P*/plugins/Essentials/items.json
P*/plugins/Essentials/warps
P*/plugins/Essentials/custom_items.yml
P*/plugins/Essentials/items.csv
P*/plugins/Essentials/kits.yml
P*/plugins/Essentials/tpr.yml
P*/plugins/Essentials/upgrades-done.yml
P*/plugins/Essentials/worth.yml
### DiscordSRV
P*/plugins/DiscordSRV/voice.yml
P*/plugins/DiscordSRV/alerts.yml


## Paper 1.8.8
### ViaVersion
Paper 1.8.8/plugins/ViaVersion
## WorldEdit
Paper 1.8.8/plugins/WorldEdit
### WorldMania
Paper 1.8.8/plugins/WorldMania/Languages
Paper 1.8.8/plugins/WorldMania/settings.json
Paper 1.8.8/plugins/WorldMania/worlds.json


# Purpur
Purpur*/pufferfish.yml
Purpur*/tuinity.yml
Purpur*/plugins/*.jar
Purpur*/airplane.yml
!Purpur*/plugins/FarmControl*.jar
!Purpur*/plugins/InventoryRollbackPlus*.jar
!Purpur*/plugins/LuckPerms*.jar
!Purpur*/plugins/PluginChecker*.jar
!Purpur*/plugins/PlugManX*.jar
!Purpur*/plugins/ViewDistanceTweaks*.jar
!Purpur*/plugins/WorldEditSelectionVisualizer*.jar
!Purpur*/plugins/WorldGuardExtraFlags*.jar

## Purpur PLUGINS
### Multiverse-Core
Purpur*/plugins/Multiverse-Core/scripts
Purpur*/plugins/Multiverse-Core/worlds.yml
### VanillaTweaks
Purpur*/plugins/VanillaTweaks/*
!Purpur*/plugins/VanillaTweaks/modules.yml
!Purpur*/plugins/VanillaTweaks/moremobheads
!Purpur*/plugins/VanillaTweaks/tag

## Purpur 1.16.5
### TAB
Purpur 1.16.5/plugins/TAB/bossbar.yml
Purpur 1.16.5/plugins/TAB/translation.yml

## Purpur 1.18.1
Purpur 1.18.1/server-launch.jar
Purpur 1.18.1/versions
Purpur 1.18.1/plugins/TAB/layout.yml
Purpur 1.18.1/plugins/TAB/messages.yml
Purpur 1.18.1/plugins/TAB/users.yml