LICENSE
README.md
*.old



# All templates
*/eula.txt
*/logs
*/banned-ips.json
*/banned-players.json
*/ops.json
*/usercache.json
*/whitelist.json
*/world*/scripts
*/world*/advcancements
*/world*/datapacks
*/world*/entities
*/world*/playerdata
*/world*/poi
*/world*/region
*/world*/stats
*/world*/level.dat
*/world*/level.dat_old
*/world*/session.lock



# Fabric
Fabric 1.1*/fabric-server-launcher.properties
Fabric 1.1*/.fabric-installer
Fabric 1.1*/world/data
Fabric 1.1*/world/DIM1
Fabric 1.1*/world/DIM-1
Fabric 1.1*/gunpowder.db
Fabric 1.1*/crash-reports
Fabric 1.1*/not-enough-crashes
Fabric 1.1*/.fabric
Fabric 1.1*/.mixin.out
Fabric 1.1*/server.jar

# Fabric 1.17.1
Fabric 1.17.1/config/*
!Fabric 1.17.1/config/shutupconsole.toml

# Fabric 1.16.5
Fabric 1.16.5/config/fdlink
Fabric 1.16.5/config/chat_plus.json
Fabric 1.16.5/config/gunpowder.yaml
Fabric 1.16.5/config/jline4mcdsrv.toml
Fabric 1.16.5/config/lithium.properties
Fabric 1.16.5/config/notenoughcrashes.json
Fabric 1.16.5/config/overworldtwo.json
Fabric 1.16.5/config/randompatches.toml
Fabric 1.16.5/config/smoothboot.json
Fabric 1.16.5/config/ferritecore.mixin.properties



# Paper/Purpur
P*/.console_history
P*/cache
P*/world_nether
P*/world_the_end
P*/commands.yml
P*/help.yml
P*/permissions.yml
P*/wepif.yml
P*/version_history.json
P*/tuinity.yml
P*/world

# Paper/Purpur PLUGINS
P*/plugins/bStats
P*/plugins/LuckPerms
P*/plugins/MyCommand
P*/plugins/PluginManager
P*/plugins/PlugMan
P*/plugins/PluginMetrics
P*/plugins/ProtocolLib
P*/plugins/Updater
P*/plugins/WorldGuard
P*/plugins/Vault
P*/plugins/FastAsyncWorldEdit
P*/plugins/InventoryRollbackPlus
P*/plugins/CoreProtect
P*/plugins/VillagerOptimiser
P*/plugins/Multiverse-Inventories
P*/plugins/LimitPillagers
P*/plugins/EntityTrackerFixer
P*/plugins/TAB-Additions
P*/plugins/FarmControl/profiles.yml
P*/plugins/Scoreboard-revision


# Paper 1.8.8
# DiscordSRV
Paper 1.8.8/plugins/DiscordSRV/voice.yml
Paper 1.8.8/plugins/DiscordSRV/alerts.yml
# Essentials
Paper 1.8.8/plugins/Essentials/userdata
Paper 1.8.8/plugins/Essentials/items.json
Paper 1.8.8/plugins/Essentials/warps
Paper 1.8.8/plugins/Essentials/custom_items.yml
Paper 1.8.8/plugins/Essentials/items.csv
Paper 1.8.8/plugins/Essentials/kits.yml
Paper 1.8.8/plugins/Essentials/tpr.yml
Paper 1.8.8/plugins/Essentials/upgrades-done.yml
Paper 1.8.8/plugins/Essentials/worth.yml
# ViaVersion
Paper 1.8.8/plugins/ViaVersion
# WorldEdit
Paper 1.8.8/plugins/WorldEdit
# WorldMania
Paper 1.8.8/plugins/WorldMania/Languages
Paper 1.8.8/plugins/WorldMania/settings.json
Paper 1.8.8/plugins/WorldMania/worlds.json


# Purpur 1.16.5
# DiscordSRV
Purpur 1.16.5/plugins/DiscordSRV/voice.yml
Purpur 1.16.5/plugins/DiscordSRV/alerts.yml
# Essentials
Purpur 1.16.5/plugins/Essentials/userdata
Purpur 1.16.5/plugins/Essentials/items.json
Purpur 1.16.5/plugins/Essentials/warps
Purpur 1.16.5/plugins/Essentials/custom_items.yml
Purpur 1.16.5/plugins/Essentials/items.csv
Purpur 1.16.5/plugins/Essentials/kits.yml
Purpur 1.16.5/plugins/Essentials/tpr.yml
Purpur 1.16.5/plugins/Essentials/upgrades-done.yml
Purpur 1.16.5/plugins/Essentials/worth.yml
# Multiverse-Core
Purpur 1.16.5/plugins/Multiverse-Core/scripts
Purpur 1.16.5/plugins/Multiverse-Core/worlds.yml
# Scoreboard-revision
Purpur 1.16.5/plugins/Scoreboard-revision/language.yml
# TAB
Purpur 1.16.5/plugins/TAB/bossbar.yml
Purpur 1.16.5/plugins/TAB/translation.yml
# VanillaTweaks
Purpur 1.16.5/plugins/VanillaTweaks/config.yml
Purpur 1.16.5/plugins/VanillaTweaks/lang.yml
Purpur 1.16.5/plugins/VanillaTweaks/confetticreepers
Purpur 1.16.5/plugins/VanillaTweaks/coordinateshud
Purpur 1.16.5/plugins/VanillaTweaks/multiplayersleep
Purpur 1.16.5/plugins/VanillaTweaks/netherportalcoords
Purpur 1.16.5/plugins/VanillaTweaks/pillagertools
Purpur 1.16.5/plugins/VanillaTweaks/playergraves
Purpur 1.16.5/plugins/VanillaTweaks/sethome
Purpur 1.16.5/plugins/VanillaTweaks/villagerdeathmessages
Purpur 1.16.5/plugins/VanillaTweaks/wanderingtrades
Purpur 1.16.5/plugins/VanillaTweaks/wrench
Purpur 1.16.5/plugins/VanillaTweaks/durabilityping

# Purpur 1.17.1
# DiscordSRV
Purpur 1.17.1/plugins/DiscordSRV/voice.yml
Purpur 1.17.1/plugins/DiscordSRV/alerts.yml
# Essentials
Purpur 1.17.1/plugins/Essentials/userdata
Purpur 1.17.1/plugins/Essentials/items.json
Purpur 1.17.1/plugins/Essentials/warps
Purpur 1.17.1/plugins/Essentials/custom_items.yml
Purpur 1.17.1/plugins/Essentials/items.csv
Purpur 1.17.1/plugins/Essentials/kits.yml
Purpur 1.17.1/plugins/Essentials/tpr.yml
Purpur 1.17.1/plugins/Essentials/upgrades-done.yml
Purpur 1.17.1/plugins/Essentials/worth.yml
# Multiverse-Core
Purpur 1.17.1/plugins/Multiverse-Core/worlds.yml
# VanillaTweaks
Purpur 1.17.1/plugins/VanillaTweaks/config.yml
Purpur 1.17.1/plugins/VanillaTweaks/lang.yml
Purpur 1.17.1/plugins/VanillaTweaks/confetticreepers
Purpur 1.17.1/plugins/VanillaTweaks/coordinateshud
Purpur 1.17.1/plugins/VanillaTweaks/multiplayersleep
Purpur 1.17.1/plugins/VanillaTweaks/netherportalcoords
Purpur 1.17.1/plugins/VanillaTweaks/pillagertools
Purpur 1.17.1/plugins/VanillaTweaks/playergraves
Purpur 1.17.1/plugins/VanillaTweaks/sethome
Purpur 1.17.1/plugins/VanillaTweaks/villagerdeathmessages
Purpur 1.17.1/plugins/VanillaTweaks/wanderingtrades
Purpur 1.17.1/plugins/VanillaTweaks/wrench
Purpur 1.17.1/plugins/VanillaTweaks/durabilityping